In [113]:
import pandas as pd

In [114]:
data = Lancamento.objects\
        .values('lancamento__title','lancamento__category__category', 'amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')\
        .order_by('lancamento__category__category')

In [115]:
df = pd.DataFrame(data)
df

,lancamento__title,lancamento__category__category,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,amount10,amount11,amount12
0,funcionario 1,folha,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,midias,propaganda,100.0,100.0,100.0,100.0,100.0,500.0,100.0,0.0,0.0,0.0,0.0,0.0

In [116]:
df['total'] = df['amount'] + df['amount2'] + df['amount3'] \
+ df['amount4']+ df['amount5']+ df['amount6']\
+ df['amount7']+ df['amount8']+ df['amount9']\
+ df['amount10']+ df['amount11']+df['amount12']
df

,lancamento__title,lancamento__category__category,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,amount10,amount11,amount12,total
0,funcionario 1,folha,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
1,midias,propaganda,100.0,100.0,100.0,100.0,100.0,500.0,100.0,0.0,0.0,0.0,0.0,0.0,1100.0

In [117]:
df['%'] = round(100 * df['amount'] / df['amount'].sum())
df['% 2'] = round(100 * df['amount2'] / df['amount2'].sum())
df['% 3'] = round(100 * df['amount3'] / df['amount3'].sum())
df['% 4'] = round(100 * df['amount4'] / df['amount4'].sum())
df['% 5'] = round(100 * df['amount5'] / df['amount5'].sum())
df['% 6'] = round(100 * df['amount6'] / df['amount6'].sum())
df['% 7'] = round(100 * df['amount7'] / df['amount7'].sum())
df['% 8'] = round(100 * df['amount8'] / df['amount8'].sum())
df['% 9'] = round(100 * df['amount9'] / df['amount9'].sum())
df['% 10'] = round(100 * df['amount10'] / df['amount10'].sum())
df['% 11'] = round(100 * df['amount11'] / df['amount11'].sum())
df['% 12'] = round(100 * df['amount12'] / df['amount12'].sum())
df

,lancamento__title,lancamento__category__category,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,...,% 3,% 4,% 5,% 6,% 7,% 8,% 9,% 10,% 11,% 12
0,funcionario 1,folha,200.0,200.0,200.0,200.0,200.0,0.0,0.0,0.0,...,67.0,67.0,67.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,midias,propaganda,100.0,100.0,100.0,100.0,100.0,500.0,100.0,0.0,...,33.0,33.0,33.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN

In [118]:
df = df.rename(columns={'amount': 'mes1', 'amount2': 'mes2', 'amount3': 'mes3', 'amount4': 'mes4', 'amount5': 'mes5', 'amount6': 'mes6', 'amount7': 'mes7', 'amount8': 'mes8', 'amount9': 'mes9', 'amount10': 'mes10', 'amount11': 'mes11', 'amount12': 'mes12'})
df = df.rename(columns={'lancamento__category__category':'categoria'})

In [119]:
pivot_table = pd.pivot_table(df, values=['mes1','%','mes2','% 2', 'mes3', '% 3', 'mes4', '% 4','mes5', '% 5', 'mes6', '% 6', 'mes7', '% 7', 'mes8', '% 8', 'mes9', '% 9', 'mes10', '% 10', 'mes11', '% 11', 'mes12', '% 12'], index=['categoria'], fill_value=0, aggfunc=sum)
pivot_table

,%,% 10,% 11,% 12,% 2,% 3,% 4,% 5,% 6,% 7,...,mes11,mes12,mes2,mes3,mes4,mes5,mes6,mes7,mes8,mes9
categoria,,,,,,,,,,,,,,,,,,,,,
folha,67,0,0,0,67,67,67,67,0,0,...,0,0,200,200,200,200,0,0,0,0
propaganda,33,0,0,0,33,33,33,33,100,100,...,0,0,100,100,100,100,500,100,0,0

In [198]:
cols = list(pivot_table.columns.values)
cols

['%',
 '% 10',
 '% 11',
 '% 12',
 '% 2',
 '% 3',
 '% 4',
 '% 5',
 '% 6',
 '% 7',
 '% 8',
 '% 9',
 'mes1',
 'mes10',
 'mes11',
 'mes12',
 'mes2',
 'mes3',
 'mes4',
 'mes5',
 'mes6',
 'mes7',
 'mes8',
 'mes9']

In [199]:
newdf = pivot_table[[
'mes1', '%',
'mes2', '% 2',
'mes3', '% 3',
'mes4', '% 4',
'mes5', '% 5',
'mes6', '% 6',
'mes7', '% 7',
'mes8', '% 8',
'mes9', '% 9',
'mes10', '% 10',
'mes11', '% 11',
'mes12', '% 12',
]]
newdf.loc['TOTAL DESPESAS']= newdf.sum()

/home/degan/dev/dj-management/projeto_todo/venv/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [200]:
newdf

,mes1,%,mes2,% 2,mes3,% 3,mes4,% 4,mes5,% 5,...,mes8,% 8,mes9,% 9,mes10,% 10,mes11,% 11,mes12,% 12
categoria,,,,,,,,,,,,,,,,,,,,,
folha,200,67,200,67,200,67,200,67,200,67,...,0,0,0,0,0,0,0,0,0,0
propaganda,100,33,100,33,100,33,100,33,100,33,...,0,0,0,0,0,0,0,0,0,0
TOTAL DESPESAS,300,100,300,100,300,100,300,100,300,100,...,0,0,0,0,0,0,0,0,0,0

In [201]:
data2 = Faturamento.objects\
        .values('faturamentoorigem__origem', 'amount', 'amount2', 'amount3', 'amount4', 'amount5', 'amount6', 'amount7', 'amount8', 'amount9', 'amount10', 'amount11', 'amount12')\
        .order_by('faturamentoorigem__origem')

In [202]:
df2 = pd.DataFrame(data2)

In [203]:
df2

,faturamentoorigem__origem,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,amount10,amount11,amount12
0,Venda Local,65.0,65.0,65.0,56.0,4560.0,645.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Venda Online,3240.0,324.0,324.0,432.0,432.0,0.0,0.0,4320.0,0.0,0.0,0.0,0.0

In [204]:
df2['totalperiodo'] = df2['amount'] + df2['amount2'] + df2['amount3'] \
+ df2['amount4']+ df2['amount5']+ df2['amount6']\
+ df2['amount7']+ df2['amount8']+ df2['amount9']\
+ df2['amount10']+ df2['amount11']+df2['amount12']
df2

,faturamentoorigem__origem,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,amount10,amount11,amount12,totalperiodo
0,Venda Local,65.0,65.0,65.0,56.0,4560.0,645.0,0.0,0.0,0.0,0.0,0.0,0.0,5456.0
1,Venda Online,3240.0,324.0,324.0,432.0,432.0,0.0,0.0,4320.0,0.0,0.0,0.0,0.0,9072.0

In [205]:
df2['%'] = round(100 * df2['amount'] / df2['amount'].sum())
df2['% 2'] = round(100 * df2['amount2'] / df2['amount2'].sum())
df2['% 3'] = round(100 * df2['amount3'] / df2['amount3'].sum())
df2['% 4'] = round(100 * df2['amount4'] / df2['amount4'].sum())
df2['% 5'] = round(100 * df2['amount5'] / df2['amount5'].sum())
df2['% 6'] = round(100 * df2['amount6'] / df2['amount6'].sum())
df2['% 7'] = round(100 * df2['amount7'] / df2['amount7'].sum())
df2['% 8'] = round(100 * df2['amount8'] / df2['amount8'].sum())
df2['% 9'] = round(100 * df2['amount9'] / df2['amount9'].sum())
df2['% 10'] = round(100 * df2['amount10'] / df2['amount10'].sum())
df2['% 11'] = round(100 * df2['amount11'] / df2['amount11'].sum())
df2['% 12'] = round(100 * df2['amount12'] / df2['amount12'].sum())
df2

,faturamentoorigem__origem,amount,amount2,amount3,amount4,amount5,amount6,amount7,amount8,amount9,...,% 3,% 4,% 5,% 6,% 7,% 8,% 9,% 10,% 11,% 12
0,Venda Local,65.0,65.0,65.0,56.0,4560.0,645.0,0.0,0.0,0.0,...,17.0,11.0,91.0,100.0,NaN,0.0,NaN,NaN,NaN,NaN
1,Venda Online,3240.0,324.0,324.0,432.0,432.0,0.0,0.0,4320.0,0.0,...,83.0,89.0,9.0,0.0,NaN,100.0,NaN,NaN,NaN,NaN

In [206]:
df2 = df2.rename(columns={'amount': 'mes1', 'amount2': 'mes2', 'amount3': 'mes3', 'amount4': 'mes4', 'amount5': 'mes5', 'amount6': 'mes6', 'amount7': 'mes7', 'amount8': 'mes8', 'amount9': 'mes9', 'amount10': 'mes10', 'amount11': 'mes11', 'amount12': 'mes12'})
df2 = df2.rename(columns={'faturamentoorigem__origem':'faturamento'})

In [207]:
pivot_table2 = pd.pivot_table(df2, values=['mes1','%','mes2','% 2', 'mes3', '% 3', 'mes4', '% 4','mes5', '% 5', 'mes6', '% 6', 'mes7', '% 7', 'mes8', '% 8', 'mes9', '% 9', 'mes10', '% 10', 'mes11', '% 11', 'mes12', '% 12'], index=['faturamento'], fill_value=0, aggfunc=sum)
pivot_table2

,%,% 10,% 11,% 12,% 2,% 3,% 4,% 5,% 6,% 7,...,mes11,mes12,mes2,mes3,mes4,mes5,mes6,mes7,mes8,mes9
faturamento,,,,,,,,,,,,,,,,,,,,,
Venda Local,2,0,0,0,17,17,11,91,100,0,...,0,0,65,65,56,4560,645,0,0,0
Venda Online,98,0,0,0,83,83,89,9,0,0,...,0,0,324,324,432,432,0,0,4320,0

In [208]:
cols = list(pivot_table2.columns.values)
cols

['%',
 '% 10',
 '% 11',
 '% 12',
 '% 2',
 '% 3',
 '% 4',
 '% 5',
 '% 6',
 '% 7',
 '% 8',
 '% 9',
 'mes1',
 'mes10',
 'mes11',
 'mes12',
 'mes2',
 'mes3',
 'mes4',
 'mes5',
 'mes6',
 'mes7',
 'mes8',
 'mes9']

In [209]:
newdf2 = pivot_table2[[
'mes1', '%',
'mes2', '% 2',
'mes3', '% 3',
'mes4', '% 4',
'mes5', '% 5',
'mes6', '% 6',
'mes7', '% 7',
'mes8', '% 8',
'mes9', '% 9',
'mes10', '% 10',
'mes11', '% 11',
'mes12', '% 12',
]]
newdf2.loc['TOTAL VENDA']= newdf2.sum()

/home/degan/dev/dj-management/projeto_todo/venv/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [210]:
newdf3 = pd.concat([newdf2,newdf])
newdf3

,mes1,%,mes2,% 2,mes3,% 3,mes4,% 4,mes5,% 5,...,mes8,% 8,mes9,% 9,mes10,% 10,mes11,% 11,mes12,% 12
Venda Local,65,2,65,17,65,17,56,11,4560,91,...,0,0,0,0,0,0,0,0,0,0
Venda Online,3240,98,324,83,324,83,432,89,432,9,...,4320,100,0,0,0,0,0,0,0,0
TOTAL VENDA,3305,100,389,100,389,100,488,100,4992,100,...,4320,100,0,0,0,0,0,0,0,0
folha,200,67,200,67,200,67,200,67,200,67,...,0,0,0,0,0,0,0,0,0,0
propaganda,100,33,100,33,100,33,100,33,100,33,...,0,0,0,0,0,0,0,0,0,0
TOTAL DESPESAS,300,100,300,100,300,100,300,100,300,100,...,0,0,0,0,0,0,0,0,0,0

In [211]:
newdf3.loc['TOTAL GERAL'] = newdf3.loc['TOTAL VENDA']-newdf3.loc['TOTAL DESPESAS']
newdf3

,mes1,%,mes2,% 2,mes3,% 3,mes4,% 4,mes5,% 5,...,mes8,% 8,mes9,% 9,mes10,% 10,mes11,% 11,mes12,% 12
Venda Local,65,2,65,17,65,17,56,11,4560,91,...,0,0,0,0,0,0,0,0,0,0
Venda Online,3240,98,324,83,324,83,432,89,432,9,...,4320,100,0,0,0,0,0,0,0,0
TOTAL VENDA,3305,100,389,100,389,100,488,100,4992,100,...,4320,100,0,0,0,0,0,0,0,0
folha,200,67,200,67,200,67,200,67,200,67,...,0,0,0,0,0,0,0,0,0,0
propaganda,100,33,100,33,100,33,100,33,100,33,...,0,0,0,0,0,0,0,0,0,0
TOTAL DESPESAS,300,100,300,100,300,100,300,100,300,100,...,0,0,0,0,0,0,0,0,0,0
TOTAL GERAL,3005,0,89,0,89,0,188,0,4692,0,...,4320,100,0,0,0,0,0,0,0,0

In [236]:
newdf3.style.apply(lambda x: ['background: lightgreen' if x.name == 'TOTAL VENDA' and 'TOTAL DESPESAS' else '' for i in x], axis=1)
newdf3.style.apply(lambda x: ['background: lightgreen' if x.name == 'TOTAL DESPESAS' else '' for i in x], axis=1)

In [195]:
newdf3.style.apply(lambda x: ['background: lightgreen' if x.name == 'TOTAL VENDA' else '' for i in x], axis=1)

AttributeError: 'Styler' object has no attribute 'style'

###

In [146]:
newdf3.style.apply(lambda x: ['background: lightgreen' if x.name in [2,4] else '' for i in x], axis=1)

In [147]:
newdf3 = newdf3.style.format({"% 2": lambda x: "{:.1f}%".format(abs(x))})