In [36]:
sales_list = Fat.objects.all()

In [41]:
product = [i for i in sales_list if i.amount > 0] # only sum even numbers in the list

In [42]:
def fat():
    sales_list = Fat.objects.all()

[<Fat: Fat object (53)>,
 <Fat: Fat object (54)>,
 <Fat: Fat object (55)>,
 <Fat: Fat object (56)>,
 <Fat: Fat object (57)>,
 <Fat: Fat object (58)>,
 <Fat: Fat object (59)>,
 <Fat: Fat object (60)>,
 <Fat: Fat object (61)>,
 <Fat: Fat object (62)>]

In [44]:
class Main: 
  
    # constructor of Main class 
    def __init__(self): 
        # Initialization of the Strings 
        self.String1 ="Hello"
        self.String2 ="World"
  
    def Function1(self): 
        # calling Function2 Method 
        self.Function2() 
        print("Function1 : ", self.String2) 
        return 
  
    def Function2(self): 
        print("Function2 : ", self.String1) 
        return
  
# Instance of Class Main 
Object = Main() 
  
# Calling Function1 
Object.Function1()

Function2 :  Hello
Function1 :  World

In [125]:
from django.db.models.functions import TruncMonth
from django.db.models import Count, Sum

In [126]:
Fat.objects.annotate(month=TruncMonth('date')).values('month').aggregate(sum=Sum('amount'))

NameError: name 'Fat' is not defined

In [573]:
from django.db.models.functions import ExtractMonth, ExtractYear
from django_pivot.pivot import pivot

In [574]:
check = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(count=Sum('amount')).values('month', 'count', 'year')

In [575]:
for i in check:
    print(i)

{'month': 1, 'year': 2020, 'count': 200.0}
{'month': 2, 'year': 2020, 'count': 100.0}
{'month': 3, 'year': 2020, 'count': 100.0}
{'month': 4, 'year': 2019, 'count': 200.0}
{'month': 4, 'year': 2020, 'count': 2200.0}
{'month': 5, 'year': 2019, 'count': 200.0}
{'month': 5, 'year': 2020, 'count': 288.0}
{'month': 6, 'year': 2019, 'count': 200.0}
{'month': 6, 'year': 2020, 'count': 200.0}
{'month': 7, 'year': 2019, 'count': 200.0}
{'month': 7, 'year': 2020, 'count': 200.0}
{'month': 8, 'year': 2019, 'count': 200.0}
{'month': 8, 'year': 2020, 'count': 200.0}
{'month': 9, 'year': 2019, 'count': 200.0}
{'month': 9, 'year': 2020, 'count': 200.0}
{'month': 10, 'year': 2019, 'count': 200.0}
{'month': 10, 'year': 2020, 'count': 100.0}
{'month': 11, 'year': 2019, 'count': 200.0}
{'month': 11, 'year': 2020, 'count': 100.0}
{'month': 12, 'year': 2019, 'count': 200.0}

In [576]:
checks = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(count=Sum('amount')).values('expenseType__category__category')

In [577]:
for item in checks:
    print(i)

{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}
{'month': 12, 'year': 2019, 'count': 200.0}

In [578]:
check2 = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(sum=Sum('amount')).values('expenseType__category__category').order_by('year', 'month')

In [579]:
for i in checks:
    print(i['expenseType__category__category'])

SALARIOS
FIXOS
FIXOS
SALARIOS
FIXOS
SALARIOS
SEGUROS
SALARIOS
FIXOS
SALARIOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS
FIXOS
SALARIOS

In [580]:
check2 = Expense.objects.values('expenseType__category__category').annotate(month=ExtractMonth('date'), year=ExtractYear('date')).annotate(sum=Sum('amount')).order_by('year', 'month')

In [80]:
from django.db.models.functions import Concat
from django.db.models import CharField, Value as V
from django.db.models import Sum
from django.db.models.functions import ExtractMonth, ExtractYear
from django_pivot.pivot import pivot
import pandas as pd

In [81]:
datas = Expense.objects.values_list('expenseType','expenseType__category__category','date','amount').annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('year', 'month').annotate(monthyear=Concat('year','month')).values('monthyear', 'expenseType__category__category', 'amount')

df.to_dict('index')

In [82]:
df.to_dict('index')

NameError: name 'df' is not defined

In [78]:
pivot_t = pivot(Expense, 'expenseType__category__category','date','amount',aggregation=Sum)

In [79]:
pivot_t

<QuerySet [{'expenseType__category__category': 'FIXOS', '2019-04-01': None, '2019-05-01': None, '2019-06-01': None, '2019-07-01': None, '2019-08-01': None, '2019-09-01': None, '2019-10-01': None, '2019-11-01': None, '2019-12-01': None, '2020-01-01': None, '2020-02-01': 100.0, '2020-03-01': 100.0, '2020-04-01': 100.0, '2020-04-10': None, '2020-05-01': 200.0, '2020-06-01': 200.0, '2020-07-01': 200.0, '2020-08-01': 200.0, '2020-09-01': 200.0, '2020-10-01': 100.0, '2020-11-01': 100.0}, {'expenseType__category__category': 'SALARIOS', '2019-04-01': 200.0, '2019-05-01': 200.0, '2019-06-01': 200.0, '2019-07-01': 200.0, '2019-08-01': 200.0, '2019-09-01': 200.0, '2019-10-01': 200.0, '2019-11-01': 200.0, '2019-12-01': 200.0, '2020-01-01': 200.0, '2020-02-01': None, '2020-03-01': None, '2020-04-01': None, '2020-04-10': 100.0, '2020-05-01': 88.0, '2020-06-01': None, '2020-07-01': None, '2020-08-01': None, '2020-09-01': None, '2020-10-01': None, '2020-11-01': None}, {'expenseType__category__category': 'SEGUROS', '2019-04-01': None, '2019-05-01': None, '2019-06-01': None, '2019-07-01': None, '2019-08-01': None, '2019-09-01': None, '2019-10-01': None, '2019-11-01': None, '2019-12-01': None, '2020-01-01': None, '2020-02-01': None, '2020-03-01': None, '2020-04-01': 2000.0, '2020-04-10': None, '2020-05-01': None, '2020-06-01': None, '2020-07-01': None, '2020-08-01': None, '2020-09-01': None, '2020-10-01': None, '2020-11-01': None}]>

In [ ]:
[{'label': item['expenseType__category__category'], 'value':item['value']}item for item in pivot_table]

In [228]:
def monthyear():
    Expense.objects.annotate(year=ExtractYear('date'))
    return (year)

In [229]:
monthyear()

NameError: name 'year' is not defined

In [329]:
checks3 = Expense.objects.values_list('expenseType__category__category').annotate(count=Sum('amount')).annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').values('month', 'year', 'expenseType__category__category')

In [330]:
str(checks3.query)

'SELECT "tasks_category"."category", django_date_extract(\'month\', "budgets_expense"."date") AS "month", django_date_extract(\'year\', "budgets_expense"."date") AS "year" FROM "budgets_expense" INNER JOIN "tasks_expensetype" ON ("budgets_expense"."expenseType_id" = "tasks_expensetype"."id") INNER JOIN "tasks_category" ON ("tasks_expensetype"."category_id" = "tasks_category"."id") GROUP BY "tasks_category"."category", django_date_extract(\'month\', "budgets_expense"."date"), django_date_extract(\'year\', "budgets_expense"."date")'

In [331]:
checks3

<QuerySet [{'expenseType__category__category': 'FIXOS', 'month': 4, 'year': 2019}, {'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}, {'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}, {'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 4, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 6, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 7, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 8, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 9, 'year': 2020}, {'expenseType__category__category': 'SALARIOS', 'month': 10, 'year': 2020}]>

In [476]:
categories = Expense.objects.values('expenseType__category__category')\
    .aggregate(count)
    .annotate(count=Count('expenseType__category__category'), month=ExtractMonth('date'))\
    .annotate(countmonth=Count('month'))\
    .values('expenseType__category__category', 'countmonth')

In [477]:
[item for item in categories]

['total']

In [460]:
[{'label': item['expenseType__category__category'], 'value':item['month']} for item in categories]

[{'label': 'FIXOS', 'value': 4},
 {'label': 'FIXOS', 'value': 5},
 {'label': 'FIXOS', 'value': 6},
 {'label': 'FIXOS', 'value': 7},
 {'label': 'SALARIOS', 'value': 4},
 {'label': 'SALARIOS', 'value': 5},
 {'label': 'SALARIOS', 'value': 6},
 {'label': 'SALARIOS', 'value': 7},
 {'label': 'SALARIOS', 'value': 8},
 {'label': 'SALARIOS', 'value': 9},
 {'label': 'SALARIOS', 'value': 10}]

In [478]:
def categories(request):
    categories = Lancamento.objects\
        .values('lancamento__category__category')\
        .annotate(value=Sum('amount')+Sum('amount2')+Sum('amount3'))\
        .order_by('lancamento__category__category')
    data = {
        'data': [
            {
                'label': item['lancamento__category__category'],
                'value': item['value']
            }
            for item in categories
        ]
    }
    return JsonResponse(data)

In [484]:
from collections import defaultdict
summary = defaultdict( int )
for item in Expense.objects.all():
    summary[item.expenseType, item.amount] += 1

In [485]:
summary

defaultdict(int,
            {(<ExpenseType: aluguel>, 100.0): 6,
             (<ExpenseType: funcionario>, 100.0): 5,
             (<ExpenseType: funcionario>, 1000.0): 1,
             (<ExpenseType: aluguel>, 100000.0): 1,
             (<ExpenseType: funcionario>, 200.0): 5})

table = []
expenses = Expense.objects.all()
for i in expenses:
    i.

In [545]:
from django.db.models.functions import ExtractMonth, ExtractYear

In [26]:
expenses = Expense.objects.all().values('expenseType__category__category')\
    .annotate(month=ExtractMonth('date'))\
    .annotate(total=Count('month'))\
    .annotate(cat=Count('expenseType__category__category')).values('cat','month')

In [27]:
for i in expenses:
    print(i['cat'])

1
1
1
2
2
2
2
2
1
1
1
2
4
1
1
1
1
1
1
1
1

In [28]:
expense = Category.objects.all().values()
for i in expense:
    print(i)

{'id': 1, 'category': 'MKT & PROPAGANDA', 'created_at': datetime.datetime(2020, 9, 18, 13, 56, 18, 526888, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 10, 701877, tzinfo=<UTC>)}
{'id': 2, 'category': 'SALARIOS', 'created_at': datetime.datetime(2020, 9, 18, 13, 56, 46, 717240, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 55, 35, 171261, tzinfo=<UTC>)}
{'id': 3, 'category': 'FIXOS', 'created_at': datetime.datetime(2020, 9, 21, 20, 56, 19, 802824, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 19, 802907, tzinfo=<UTC>)}
{'id': 4, 'category': 'INVESTIMENTOS', 'created_at': datetime.datetime(2020, 9, 21, 20, 56, 55, 643907, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 56, 55, 643990, tzinfo=<UTC>)}
{'id': 5, 'category': 'SEGUROS', 'created_at': datetime.datetime(2020, 9, 21, 20, 57, 58, 151943, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 57, 58, 152021, tzinfo=<UTC>)}
{'id': 6, 'category': 'JUROS/TXs BANCARIAS', 'created_at': datetime.datetime(2020, 9, 21, 20, 59, 8, 992723, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 20, 59, 53, 988640, tzinfo=<UTC>)}
{'id': 7, 'category': 'FINANCIAMENTOS', 'created_at': datetime.datetime(2020, 9, 21, 22, 53, 48, 674589, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 21, 22, 53, 48, 674669, tzinfo=<UTC>)}
{'id': 8, 'category': 'PROLABORE', 'created_at': datetime.datetime(2020, 9, 22, 14, 58, 38, 716054, tzinfo=<UTC>), 'updated_at': datetime.datetime(2020, 9, 22, 14, 58, 38, 716121, tzinfo=<UTC>)}

In [624]:
list = []
for i in expenses:
    list.append(i['expenseType__category__category'])
    list.append(i['month'])

In [625]:
list

['FIXOS',
 4,
 'FIXOS',
 5,
 'FIXOS',
 6,
 'FIXOS',
 7,
 'SALARIOS',
 4,
 'SALARIOS',
 5,
 'SALARIOS',
 6,
 'SALARIOS',
 7,
 'SALARIOS',
 8,
 'SALARIOS',
 9,
 'SALARIOS',
 10]

In [589]:
from collections import defaultdict
summary = defaultdict( int )
for issue in Expense.objects.all():
    summary[issue.expenseType, issue.amount] += 1

In [590]:
summary

defaultdict(int,
            {(<ExpenseType: aluguel>, 100.0): 6,
             (<ExpenseType: funcionario>, 100.0): 5,
             (<ExpenseType: funcionario>, 1000.0): 1,
             (<ExpenseType: aluguel>, 100000.0): 1,
             (<ExpenseType: funcionario>, 200.0): 5})

In [609]:
table = []
queues = list( q for q,_ in summary.keys() )
for q in sorted( queues ):
    table.append( summary.count(q,'expenseType'), summary.count(q,'amount') )

TypeError: '<' not supported between instances of 'ExpenseType' and 'ExpenseType'

SyntaxError: invalid syntax (<ipython-input-634-53336a710641>, line 1)

In [841]:
expenses = Expense.objects.values()
for i in expenses:
    print(i)

{'id': 32, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 5, 1), 'repetir': None}
{'id': 33, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 6, 1), 'repetir': None}
{'id': 34, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 7, 1), 'repetir': None}
{'id': 35, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 8, 1), 'repetir': None}
{'id': 36, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 9, 1), 'repetir': None}
{'id': 237, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 2, 1), 'repetir': None}
{'id': 238, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 3, 1), 'repetir': None}
{'id': 239, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 4, 1), 'repetir': None}
{'id': 240, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 5, 1), 'repetir': None}
{'id': 241, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 6, 1), 'repetir': None}
{'id': 242, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 7, 1), 'repetir': None}
{'id': 243, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 8, 1), 'repetir': None}
{'id': 244, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 9, 1), 'repetir': None}
{'id': 245, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 10, 1), 'repetir': None}
{'id': 246, 'expenseType_id': 1, 'amount': 100.0, 'date': datetime.date(2020, 11, 1), 'repetir': None}

In [59]:
check = Expense.objects.annotate(month=ExtractMonth('date'), year=ExtractYear('date')).values('month', 'year').annotate(sum=Sum('amount')).values('month', 'sum', 'year').order_by('year', 'month')

In [60]:
check

<QuerySet [{'month': 4, 'year': 2019, 'sum': 200.0}, {'month': 5, 'year': 2019, 'sum': 200.0}, {'month': 6, 'year': 2019, 'sum': 200.0}, {'month': 7, 'year': 2019, 'sum': 200.0}, {'month': 8, 'year': 2019, 'sum': 200.0}, {'month': 9, 'year': 2019, 'sum': 200.0}, {'month': 10, 'year': 2019, 'sum': 200.0}, {'month': 11, 'year': 2019, 'sum': 200.0}, {'month': 12, 'year': 2019, 'sum': 200.0}, {'month': 1, 'year': 2020, 'sum': 200.0}, {'month': 2, 'year': 2020, 'sum': 100.0}, {'month': 3, 'year': 2020, 'sum': 100.0}, {'month': 4, 'year': 2020, 'sum': 2200.0}, {'month': 5, 'year': 2020, 'sum': 288.0}, {'month': 6, 'year': 2020, 'sum': 200.0}, {'month': 7, 'year': 2020, 'sum': 200.0}, {'month': 8, 'year': 2020, 'sum': 200.0}, {'month': 9, 'year': 2020, 'sum': 200.0}, {'month': 10, 'year': 2020, 'sum': 100.0}, {'month': 11, 'year': 2020, 'sum': 100.0}]>

In [666]:
pivot_s = pivot(check, '')

{'month': 4, 'year': 2019, 'sum': 100000.0}
{'month': 4, 'year': 2020, 'sum': 100.0}
{'month': 5, 'year': 2020, 'sum': 500.0}
{'month': 6, 'year': 2020, 'sum': 500.0}
{'month': 7, 'year': 2020, 'sum': 500.0}
{'month': 8, 'year': 2020, 'sum': 300.0}
{'month': 9, 'year': 2020, 'sum': 200.0}
{'month': 10, 'year': 2020, 'sum': 1000.0}

In [770]:
dat = Expense.objects.annotate(data=Count('date'), total=Sum('amount'), count=Count('expenseType__category__category')).values('total').values('expenseType__category__category')

In [771]:
for i in dat:
    print(i)

{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'FIXOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}
{'expenseType__category__category': 'SALARIOS'}

In [758]:
pivot_table = pivot(dat,['m', 'y'], 'expenseType__category__category','amount', aggregation=Sum)

In [759]:
for i in pivot_table:
    print(i)

{'m': 18, 'y': 18, 'FIXOS': 100600.0, 'SALARIOS': 2500.0}

In [39]:
from django.db.models.functions import TruncMonth
from django.db.models.functions import ExtractMonth, ExtractYear
from django_pivot.pivot import pivot

In [71]:
exp = Expense.objects.values('expenseType__category__category')\
.annotate(month=ExtractMonth('date'), year=ExtractYear('date'))\
.values('expenseType__category__category', 'month', 'year')

In [72]:
for i in exp:
    print(i)

{'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 8, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 9, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 2, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 3, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 4, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 6, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 7, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 8, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 9, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 10, 'year': 2020}
{'expenseType__category__category': 'FIXOS', 'month': 11, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}
{'expenseType__category__category': 'SALARIOS', 'month': 5, 'year': 2020}

In [75]:
pivot_table = pivot(exp, ['year', 'month'], 'expenseType__category__category', 'amount')

In [76]:
pivot_table

<QuerySet [{'month': 2, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 3, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 4, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 5, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': 88.0}, {'month': 6, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 7, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 8, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 9, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}, {'month': 10, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}, {'month': 11, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}]>

In [103]:
for i in pivot_table:
    print(i)

{'month': 2, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 3, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 4, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 5, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': 88.0}
{'month': 6, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 7, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 8, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 9, 'year': 2020, 'FIXOS': 200.0, 'SALARIOS': None}
{'month': 10, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}
{'month': 11, 'year': 2020, 'FIXOS': 100.0, 'SALARIOS': None}

In [97]:
list

[2,
 2020,
 3,
 2020,
 4,
 2020,
 5,
 2020,
 6,
 2020,
 7,
 2020,
 8,
 2020,
 9,
 2020,
 10,
 2020,
 11,
 2020]

In [890]:
def naturalNumbers(n):
    results = []
    i = 2
    while i <= n:
        results.append(i)
        
    return results

In [542]:
import pandas as pd
import numpy as np
from IPython.display import HTML
from django.db.models.functions import ExtractMonth, ExtractYear

In [552]:
exp = Expense.objects.all().values('expenseType__category__category').annotate(month=ExtractMonth('date'), year=ExtractYear('date'), expetotal=Sum('amount')).values('expenseType__category__category','expetotal', 'year', 'month')

In [553]:
expe = pd.DataFrame(exp)

In [554]:
expe

   expenseType__category__category  month  year  expetotal
0                            FIXOS      2  2020      100.0
1                            FIXOS      3  2020      100.0
2                            FIXOS      4  2020      100.0
3                            FIXOS      5  2020      200.0
4                            FIXOS      6  2020      200.0
5                            FIXOS      7  2020      200.0
6                            FIXOS      8  2020      200.0
7                            FIXOS      9  2020      200.0
8                            FIXOS     10  2020      100.0
9                            FIXOS     11  2020      100.0
10                        SALARIOS      1  2020      200.0
11                        SALARIOS      4  2019      200.0
12                        SALARIOS      4  2020      100.0
13                        SALARIOS      5  2019      200.0
14                        SALARIOS      5  2020       88.0
15                        SALARIOS      6  2019      200.0
16                        SALARIOS      7  2019      200.0
17                        SALARIOS      8  2019      200.0
18                        SALARIOS      9  2019      200.0
19                        SALARIOS     10  2019      200.0
20                        SALARIOS     11  2019      200.0
21                        SALARIOS     12  2019      200.0
22                         SEGUROS      4  2020     2000.0

In [562]:
expe["period"] = expe["year"].astype(str) + "/" + expe["month"].astype(str)

In [564]:
expe['Período'] = pd.to_datetime(expe['period']).dt.to_period('M')

In [565]:
expe

   expenseType__category__category  month  year  expetotal   period  Período
0                            FIXOS      2  2020      100.0   2020/2  2020-02
1                            FIXOS      3  2020      100.0   2020/3  2020-03
2                            FIXOS      4  2020      100.0   2020/4  2020-04
3                            FIXOS      5  2020      200.0   2020/5  2020-05
4                            FIXOS      6  2020      200.0   2020/6  2020-06
5                            FIXOS      7  2020      200.0   2020/7  2020-07
6                            FIXOS      8  2020      200.0   2020/8  2020-08
7                            FIXOS      9  2020      200.0   2020/9  2020-09
8                            FIXOS     10  2020      100.0  2020/10  2020-10
9                            FIXOS     11  2020      100.0  2020/11  2020-11
10                        SALARIOS      1  2020      200.0   2020/1  2020-01
11                        SALARIOS      4  2019      200.0   2019/4  2019-04
12                        SALARIOS      4  2020      100.0   2020/4  2020-04
13                        SALARIOS      5  2019      200.0   2019/5  2019-05
14                        SALARIOS      5  2020       88.0   2020/5  2020-05
15                        SALARIOS      6  2019      200.0   2019/6  2019-06
16                        SALARIOS      7  2019      200.0   2019/7  2019-07
17                        SALARIOS      8  2019      200.0   2019/8  2019-08
18                        SALARIOS      9  2019      200.0   2019/9  2019-09
19                        SALARIOS     10  2019      200.0  2019/10  2019-10
20                        SALARIOS     11  2019      200.0  2019/11  2019-11
21                        SALARIOS     12  2019      200.0  2019/12  2019-12
22                         SEGUROS      4  2020     2000.0   2020/4  2020-04

In [482]:
expe = expe.rename(columns={"amount": "ValorExp", "expenseType__category__category": "Categoria"})

In [483]:
expe = expe.drop(['date'], axis=1)

In [484]:
expe = expe.groupby(['Categoria','Período']).sum()

In [566]:
expe.to_dict('index')

{0: {'expenseType__category__category': 'FIXOS',
  'month': 2,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/2',
  'Período': Period('2020-02', 'M')},
 1: {'expenseType__category__category': 'FIXOS',
  'month': 3,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/3',
  'Período': Period('2020-03', 'M')},
 2: {'expenseType__category__category': 'FIXOS',
  'month': 4,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/4',
  'Período': Period('2020-04', 'M')},
 3: {'expenseType__category__category': 'FIXOS',
  'month': 5,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/5',
  'Período': Period('2020-05', 'M')},
 4: {'expenseType__category__category': 'FIXOS',
  'month': 6,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/6',
  'Período': Period('2020-06', 'M')},
 5: {'expenseType__category__category': 'FIXOS',
  'month': 7,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/7',
  'Período': Period('2020-07', 'M')},
 6: {'expenseType__category__category': 'FIXOS',
  'month': 8,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/8',
  'Período': Period('2020-08', 'M')},
 7: {'expenseType__category__category': 'FIXOS',
  'month': 9,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/9',
  'Período': Period('2020-09', 'M')},
 8: {'expenseType__category__category': 'FIXOS',
  'month': 10,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/10',
  'Período': Period('2020-10', 'M')},
 9: {'expenseType__category__category': 'FIXOS',
  'month': 11,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/11',
  'Período': Period('2020-11', 'M')},
 10: {'expenseType__category__category': 'SALARIOS',
  'month': 1,
  'year': 2020,
  'expetotal': 200.0,
  'period': '2020/1',
  'Período': Period('2020-01', 'M')},
 11: {'expenseType__category__category': 'SALARIOS',
  'month': 4,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/4',
  'Período': Period('2019-04', 'M')},
 12: {'expenseType__category__category': 'SALARIOS',
  'month': 4,
  'year': 2020,
  'expetotal': 100.0,
  'period': '2020/4',
  'Período': Period('2020-04', 'M')},
 13: {'expenseType__category__category': 'SALARIOS',
  'month': 5,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/5',
  'Período': Period('2019-05', 'M')},
 14: {'expenseType__category__category': 'SALARIOS',
  'month': 5,
  'year': 2020,
  'expetotal': 88.0,
  'period': '2020/5',
  'Período': Period('2020-05', 'M')},
 15: {'expenseType__category__category': 'SALARIOS',
  'month': 6,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/6',
  'Período': Period('2019-06', 'M')},
 16: {'expenseType__category__category': 'SALARIOS',
  'month': 7,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/7',
  'Período': Period('2019-07', 'M')},
 17: {'expenseType__category__category': 'SALARIOS',
  'month': 8,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/8',
  'Período': Period('2019-08', 'M')},
 18: {'expenseType__category__category': 'SALARIOS',
  'month': 9,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/9',
  'Período': Period('2019-09', 'M')},
 19: {'expenseType__category__category': 'SALARIOS',
  'month': 10,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/10',
  'Período': Period('2019-10', 'M')},
 20: {'expenseType__category__category': 'SALARIOS',
  'month': 11,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/11',
  'Período': Period('2019-11', 'M')},
 21: {'expenseType__category__category': 'SALARIOS',
  'month': 12,
  'year': 2019,
  'expetotal': 200.0,
  'period': '2019/12',
  'Período': Period('2019-12', 'M')},
 22: {'expenseType__category__category': 'SEGUROS',
  'month': 4,
  'year': 2020,
  'expetotal': 2000.0,
  'period': '2020/4',
  'Período': Period('2020-04', 'M')}}

In [501]:
exx = expe.to_dict('index')

In [502]:
exx

{('FIXOS', Period('2020-02', 'M')): {'ValorExp': 100.0},
 ('FIXOS', Period('2020-03', 'M')): {'ValorExp': 100.0},
 ('FIXOS', Period('2020-04', 'M')): {'ValorExp': 100.0},
 ('FIXOS', Period('2020-05', 'M')): {'ValorExp': 200.0},
 ('FIXOS', Period('2020-06', 'M')): {'ValorExp': 200.0},
 ('FIXOS', Period('2020-07', 'M')): {'ValorExp': 200.0},
 ('FIXOS', Period('2020-08', 'M')): {'ValorExp': 200.0},
 ('FIXOS', Period('2020-09', 'M')): {'ValorExp': 200.0},
 ('FIXOS', Period('2020-10', 'M')): {'ValorExp': 100.0},
 ('FIXOS', Period('2020-11', 'M')): {'ValorExp': 100.0},
 ('SALARIOS', Period('2019-04', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-05', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-06', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-07', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-08', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-09', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-10', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-11', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2019-12', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2020-01', 'M')): {'ValorExp': 200.0},
 ('SALARIOS', Period('2020-04', 'M')): {'ValorExp': 100.0},
 ('SALARIOS', Period('2020-05', 'M')): {'ValorExp': 88.0},
 ('SEGUROS', Period('2020-04', 'M')): {'ValorExp': 2000.0}}

In [494]:
import json

In [498]:
result = expe.to_json(orient="records")
parsed = json.loads(result)
json.dumps(parsed, indent=1)

'[\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 200.0\n },\n {\n  "ValorExp": 100.0\n },\n {\n  "ValorExp": 88.0\n },\n {\n  "ValorExp": 2000.0\n }\n]'

In [359]:
revenue = Revenue.objects.all().values('Revenue_origin__origem', 'amount', 'date')

In [360]:
rev = pd.DataFrame(revenue)

In [361]:
rev['Período'] = pd.to_datetime(rev['date']).dt.to_period('M')

In [362]:
rev = rev.rename(columns={"amount": "ValorRev", "Revenue_origin__origem": "Revenue"})

In [363]:
rev.drop(['date'], axis=1)

         Revenue  ValorRev  Período
0  - VENDA LOCAL    3000.0  2020-04

In [405]:
dfnew = pd.concat([rev,expe])

In [406]:
dfnew = dfnew.drop(['date'], axis=1)

In [407]:
dfnew = dfnew.reset_index(drop=True)

In [436]:
dfnew['Período'] = dfnew['Período'].astype(str)

In [457]:
dfnew.to_dict('index')

{0: {'Revenue': '- VENDA LOCAL',
  'ValorRev': 3000.0,
  'Período': '2020-04',
  'Categoria': nan,
  'ValorExp': nan},
 1: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-05',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 2: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-06',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 3: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-07',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 4: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-08',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 5: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-09',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 6: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-02',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 7: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-03',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 8: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-04',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 9: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-05',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 10: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-06',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 11: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-07',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 12: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-08',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 13: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-09',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 14: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-10',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 15: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-11',
  'Categoria': 'FIXOS',
  'ValorExp': 100.0},
 16: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-05',
  'Categoria': 'SALARIOS',
  'ValorExp': 33.0},
 17: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-05',
  'Categoria': 'SALARIOS',
  'ValorExp': 33.0},
 18: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-05',
  'Categoria': 'SALARIOS',
  'ValorExp': 22.0},
 19: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-04',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 20: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-05',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 21: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-06',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 22: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-07',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 23: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-08',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 24: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-09',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 25: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-10',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 26: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-11',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 27: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2019-12',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 28: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-01',
  'Categoria': 'SALARIOS',
  'ValorExp': 200.0},
 29: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-04',
  'Categoria': 'SALARIOS',
  'ValorExp': 100.0},
 30: {'Revenue': nan,
  'ValorRev': nan,
  'Período': '2020-04',
  'Categoria': 'SEGUROS',
  'ValorExp': 2000.0}}

In [437]:
dfnew.dtypes

Revenue       object
ValorRev     float64
Período       object
Categoria     object
ValorExp     float64
dtype: object

In [511]:
ndf = dfnew.groupby(['Período','Categoria']).sum()

In [515]:
ndf.to_dict('split')

{'index': [('2019-04', 'SALARIOS'),
  ('2019-05', 'SALARIOS'),
  ('2019-06', 'SALARIOS'),
  ('2019-07', 'SALARIOS'),
  ('2019-08', 'SALARIOS'),
  ('2019-09', 'SALARIOS'),
  ('2019-10', 'SALARIOS'),
  ('2019-11', 'SALARIOS'),
  ('2019-12', 'SALARIOS'),
  ('2020-01', 'SALARIOS'),
  ('2020-02', 'FIXOS'),
  ('2020-03', 'FIXOS'),
  ('2020-04', 'FIXOS'),
  ('2020-04', 'SALARIOS'),
  ('2020-04', 'SEGUROS'),
  ('2020-05', 'FIXOS'),
  ('2020-05', 'SALARIOS'),
  ('2020-06', 'FIXOS'),
  ('2020-07', 'FIXOS'),
  ('2020-08', 'FIXOS'),
  ('2020-09', 'FIXOS'),
  ('2020-10', 'FIXOS'),
  ('2020-11', 'FIXOS')],
 'columns': ['ValorRev', 'ValorExp'],
 'data': [[0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 100.0],
  [0.0, 100.0],
  [0.0, 100.0],
  [0.0, 100.0],
  [0.0, 2000.0],
  [0.0, 200.0],
  [0.0, 88.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 200.0],
  [0.0, 100.0],
  [0.0, 100.0]]}

In [415]:
from collections import OrderedDict, defaultdict

In [416]:
dd = defaultdict(list)

In [417]:
dfnew.to_dict('records', into=dd)

[defaultdict(list,
             {'Revenue': '- VENDA LOCAL',
              'ValorRev': 3000.0,
              'Período': Period('2020-04', 'M'),
              'Categoria': nan,
              'ValorExp': nan}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-05', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-06', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-07', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-08', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-09', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-02', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-03', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-04', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-05', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-06', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-07', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-08', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-09', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-10', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-11', 'M'),
              'Categoria': 'FIXOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-05', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 33.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-05', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 33.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-05', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 22.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-04', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-05', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-06', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-07', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-08', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-09', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-10', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-11', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2019-12', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-01', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 200.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-04', 'M'),
              'Categoria': 'SALARIOS',
              'ValorExp': 100.0}),
 defaultdict(list,
             {'Revenue': nan,
              'ValorRev': nan,
              'Período': Period('2020-04', 'M'),
              'Categoria': 'SEGUROS',
              'ValorExp': 2000.0})]

In [372]:
dfnew.replace([np.inf, -np.inf], np.nan)

          Revenue  ValorRev  Período Categoria  ValorExp     %
0   - VENDA LOCAL    3000.0  2020-04       NaN       NaN   NaN
1             NaN       NaN  2020-05     FIXOS     100.0   NaN
2             NaN       NaN  2020-06     FIXOS     100.0   NaN
3             NaN       NaN  2020-07     FIXOS     100.0   NaN
4             NaN       NaN  2020-08     FIXOS     100.0   NaN
5             NaN       NaN  2020-09     FIXOS     100.0   NaN
6             NaN       NaN  2020-02     FIXOS     100.0   NaN
7             NaN       NaN  2020-03     FIXOS     100.0   NaN
8             NaN       NaN  2020-04     FIXOS     100.0   3.0
9             NaN       NaN  2020-05     FIXOS     100.0   NaN
10            NaN       NaN  2020-06     FIXOS     100.0   NaN
11            NaN       NaN  2020-07     FIXOS     100.0   NaN
12            NaN       NaN  2020-08     FIXOS     100.0   NaN
13            NaN       NaN  2020-09     FIXOS     100.0   NaN
14            NaN       NaN  2020-10     FIXOS     100.0   NaN
15            NaN       NaN  2020-11     FIXOS     100.0   NaN
16            NaN       NaN  2020-05  SALARIOS      33.0   NaN
17            NaN       NaN  2020-05  SALARIOS      33.0   NaN
18            NaN       NaN  2020-05  SALARIOS      22.0   NaN
19            NaN       NaN  2019-04  SALARIOS     200.0   NaN
20            NaN       NaN  2019-05  SALARIOS     200.0   NaN
21            NaN       NaN  2019-06  SALARIOS     200.0   NaN
22            NaN       NaN  2019-07  SALARIOS     200.0   NaN
23            NaN       NaN  2019-08  SALARIOS     200.0   NaN
24            NaN       NaN  2019-09  SALARIOS     200.0   NaN
25            NaN       NaN  2019-10  SALARIOS     200.0   NaN
26            NaN       NaN  2019-11  SALARIOS     200.0   NaN
27            NaN       NaN  2019-12  SALARIOS     200.0   NaN
28            NaN       NaN  2020-01  SALARIOS     200.0   NaN
29            NaN       NaN  2020-04  SALARIOS     100.0   3.0
30            NaN       NaN  2020-04   SEGUROS    2000.0  67.0

In [373]:
table = pd.pivot_table(dfnew, values=['ValorExp','%', 'ValorRev'], index=['Categoria'],
                    columns=['Período'], aggfunc=sum, fill_value=0)

In [374]:
table.replace([np.inf, -np.inf], np.nan)

                %                                                          \
Período   2019-04 2019-05 2019-06 2019-07 2019-08 2019-09 2019-10 2019-11
Categoria
FIXOS         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
SALARIOS      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
SEGUROS       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

                           ... ValorRev                                  \
Período   2019-12 2020-01  ...  2020-02 2020-03 2020-04 2020-05 2020-06
Categoria                  ...
FIXOS         0.0     0.0  ...        0       0       0       0       0
SALARIOS      NaN     NaN  ...        0       0       0       0       0
SEGUROS       0.0     0.0  ...        0       0       0       0       0


Período   2020-07 2020-08 2020-09 2020-10 2020-11
Categoria
FIXOS           0       0       0       0       0
SALARIOS        0       0       0       0       0
SEGUROS         0       0       0       0       0

[3 rows x 60 columns]

In [375]:
table.columns = table.columns.swaplevel(1, 0).swaplevel(1, 0)

In [376]:
table = table.reindex(sorted(table.columns), axis=1)

In [377]:
table

                %                                                          \
Período   2019-04 2019-05 2019-06 2019-07 2019-08 2019-09 2019-10 2019-11
Categoria
FIXOS         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
SALARIOS      inf     inf     inf     inf     inf     inf     inf     inf
SEGUROS       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

                           ... ValorRev                                  \
Período   2019-12 2020-01  ...  2020-02 2020-03 2020-04 2020-05 2020-06
Categoria                  ...
FIXOS         0.0     0.0  ...        0       0       0       0       0
SALARIOS      inf     inf  ...        0       0       0       0       0
SEGUROS       0.0     0.0  ...        0       0       0       0       0


Período   2020-07 2020-08 2020-09 2020-10 2020-11
Categoria
FIXOS           0       0       0       0       0
SALARIOS        0       0       0       0       0
SEGUROS         0       0       0       0       0

[3 rows x 60 columns]

In [152]:
df['%'] = round(df['Valor']/df.groupby(['Período'])['Valor'].transform('sum')*100)

In [86]:
df.loc[:,'row_total'] = df.sum(axis=0)

        Categoria   Valor        date     Lançamento  Período      % row_total
18       SALARIOS   200.0  2019-04-01  funcionario 2  2019-04  100.0       NaN
19       SALARIOS   200.0  2019-05-01  funcionario 2  2019-05  100.0       NaN
20       SALARIOS   200.0  2019-06-01  funcionario 2  2019-06  100.0       NaN
21       SALARIOS   200.0  2019-07-01  funcionario 2  2019-07  100.0       NaN
22       SALARIOS   200.0  2019-08-01  funcionario 2  2019-08  100.0       NaN
23       SALARIOS   200.0  2019-09-01  funcionario 2  2019-09  100.0       NaN
24       SALARIOS   200.0  2019-10-01  funcionario 2  2019-10  100.0       NaN
25       SALARIOS   200.0  2019-11-01  funcionario 2  2019-11  100.0       NaN
26       SALARIOS   200.0  2019-12-01  funcionario 2  2019-12  100.0       NaN
27       SALARIOS   200.0  2020-01-01  funcionario 2  2020-01  100.0       NaN
5           FIXOS   100.0  2020-02-01        aluguel  2020-02  100.0       NaN
6           FIXOS   100.0  2020-03-01        aluguel  2020-03  100.0       NaN
0   - VENDA LOCAL   222.0  2020-04-01            NaN  2020-04    7.0       NaN
29        SEGUROS  2000.0  2020-04-01        VEICULO  2020-04   67.0       NaN
7           FIXOS   100.0  2020-04-01        aluguel  2020-04    3.0       NaN
1   - VENDA LOCAL   222.0  2020-04-01            NaN  2020-04    7.0       NaN
0     Venda Local   222.0  2020-04-01            NaN  2020-04    7.0       NaN
1     Venda Local   222.0  2020-04-01            NaN  2020-04    7.0       NaN
0           FIXOS   100.0  2020-05-01        aluguel  2020-05   35.0       NaN
15       SALARIOS    33.0  2020-05-01    funcionario  2020-05   11.0       NaN
16       SALARIOS    33.0  2020-05-01    funcionario  2020-05   11.0       NaN
17       SALARIOS    22.0  2020-05-01    funcionario  2020-05    8.0       NaN
8           FIXOS   100.0  2020-05-01        aluguel  2020-05   35.0       NaN
9           FIXOS   100.0  2020-06-01        aluguel  2020-06   50.0       NaN
1           FIXOS   100.0  2020-06-01        aluguel  2020-06   50.0       NaN
2           FIXOS   100.0  2020-07-01        aluguel  2020-07    5.0       NaN
10          FIXOS   100.0  2020-07-01        aluguel  2020-07    5.0       NaN
28       SALARIOS  2000.0  2020-07-10  funcionario 2  2020-07   91.0       NaN
11          FIXOS   100.0  2020-08-01        aluguel  2020-08   50.0       NaN
3           FIXOS   100.0  2020-08-01        aluguel  2020-08   50.0       NaN
4           FIXOS   100.0  2020-09-01        aluguel  2020-09   50.0       NaN
12          FIXOS   100.0  2020-09-01        aluguel  2020-09   50.0       NaN
13          FIXOS   100.0  2020-10-01        aluguel  2020-10  100.0       NaN
14          FIXOS   100.0  2020-11-01        aluguel  2020-11  100.0       NaN

In [101]:
table = pd.pivot_table(df, values=['Valor','%'], index=['Categoria'],
                    columns=['Período'], aggfunc=sum, fill_value=0)

In [102]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, - VENDA LOCAL to Venda Local
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (%, 2019-04)      5 non-null      int64
 1   (%, 2019-05)      5 non-null      int64
 2   (%, 2019-06)      5 non-null      int64
 3   (%, 2019-07)      5 non-null      int64
 4   (%, 2019-08)      5 non-null      int64
 5   (%, 2019-09)      5 non-null      int64
 6   (%, 2019-10)      5 non-null      int64
 7   (%, 2019-11)      5 non-null      int64
 8   (%, 2019-12)      5 non-null      int64
 9   (%, 2020-01)      5 non-null      int64
 10  (%, 2020-02)      5 non-null      int64
 11  (%, 2020-03)      5 non-null      int64
 12  (%, 2020-04)      5 non-null      int64
 13  (%, 2020-05)      5 non-null      int64
 14  (%, 2020-06)      5 non-null      int64
 15  (%, 2020-07)      5 non-null      int64
 16  (%, 2020-08)      5 non-null      int64
 17  (%, 2020-09)      5 non-null      int64
 18  (%, 2020-10)      5 non-null      int64
 19  (%, 2020-11)      5 non-null      int64
 20  (Valor, 2019-04)  5 non-null      int64
 21  (Valor, 2019-05)  5 non-null      int64
 22  (Valor, 2019-06)  5 non-null      int64
 23  (Valor, 2019-07)  5 non-null      int64
 24  (Valor, 2019-08)  5 non-null      int64
 25  (Valor, 2019-09)  5 non-null      int64
 26  (Valor, 2019-10)  5 non-null      int64
 27  (Valor, 2019-11)  5 non-null      int64
 28  (Valor, 2019-12)  5 non-null      int64
 29  (Valor, 2020-01)  5 non-null      int64
 30  (Valor, 2020-02)  5 non-null      int64
 31  (Valor, 2020-03)  5 non-null      int64
 32  (Valor, 2020-04)  5 non-null      int64
 33  (Valor, 2020-05)  5 non-null      int64
 34  (Valor, 2020-06)  5 non-null      int64
 35  (Valor, 2020-07)  5 non-null      int64
 36  (Valor, 2020-08)  5 non-null      int64
 37  (Valor, 2020-09)  5 non-null      int64
 38  (Valor, 2020-10)  5 non-null      int64
 39  (Valor, 2020-11)  5 non-null      int64
dtypes: int64(40)
memory usage: 1.6+ KB

In [103]:
table.columns = table.columns.swaplevel(0, 1).swaplevel(1, 0)

In [104]:
table = table.reindex(sorted(table.columns), axis=1)

In [105]:
table.loc[('column_total', ''), :] = table.sum(axis=0)

KeyError: "None of [Index(['column_total', ''], dtype='object', name='Categoria')] are in the [index]"

In [430]:
unst = table.stack(1)

In [431]:
unst.to_dict('records')

[{'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 100, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 100, 'ValorRev': 0},
 {'%': 3.0, 'ValorExp': 100, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 100, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 100, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 200, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 3.0, 'ValorExp': 100, 'ValorRev': 0},
 {'%': inf, 'ValorExp': 88, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 67.0, 'ValorExp': 2000, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0},
 {'%': 0.0, 'ValorExp': 0, 'ValorRev': 0}]